<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<a href="/">Pokaż wszystkich</a>
<a href="/?gender=FEMALE">Pokaż kobiety</a>
<a href="/?gender=MALE">Pokaż facetów</a>

<form action="/add" method="post" th:object="${userToAdd}"/>
    <input type="text" th:field="*{name}"/><br>
    <input type="date" th:field="*{birthDate}"/><br>
    <input type="submit" value="Dodaj"/>

</form>

<ul>
    <li th:each="u: ${users}" th:text="|${u.name} ${u.gender}|"></li>
<!--    <li th:each="u: ${users}" th:text="${u.name}"></li>-->
</ul>

</body>
</html>